[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "third-party/evil"]
	path = third-party/evil
	url = git@github.com:emacs-evil/evil
[submodule "third-party/spaceline"]
	path = third-party/spaceline
	url = git@github.com:TheBB/spaceline
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
